* {
    padding: 0;
    margin: 0;
}

.arcade-stand {
    display: flex;
    justify-content: center;
    position: relative;
    width: 716.16px;
    height: 1037.4px;
    margin: auto;
    margin-top: 120px;
}

.rectangle-1 {
    position: absolute;
    z-index: 6;
    width: 480.887px;
    height: 301.847px;
    flex-shrink: 0;
    background-color: #000;
    border: 11.63px solid #F57C61;
    border-radius: 32px 32px 0px 0px;
    opacity: 0.1;
}

.rectangle-2 {
    position: absolute;
    z-index: 5;
    top: -18px;
    width: 514.5px;
    height: 320px;
    border-radius: 56px 56px 0px 0px;
    border: 12px solid #000;
    background: #F57C61;
}

.rectangle-3_wrapper {
    position: absolute;
    z-index: 4;
    top: 314px;
    width: 650px;
    height: 310px;
    padding: 12px; 
    box-sizing: content-box; 
    background-color: black;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    border-radius: 0px 0px 16px 16px;
}

.rectangle-3 {
    position: relative;
    width: 100%; 
    height: 100%;
    background-color: #f57c61;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.rectangle-4_wrapper {
    position: absolute;
    top: 640px;
    z-index: 3;
    width: 650px;
    height: 84px;
    padding: 8px; 
    box-sizing: content-box;
    background-color: black;
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
}

.rectangle-4 {
    width: 100%; 
    height: 100%;
    background-color: #f57c61;
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
}

.rectangle-5 {
    position: absolute;
    z-index: 2;
    top: 740px;
    width: 580px;
    height: 41px;
    background-color: rgba(0, 0, 0, 0.2);
    clip-path: polygon(0% 0%, 100% 0%, 98% 100%, 2% 80%);
}

.rectangle-6_wrapper {
    position: absolute;
    top: 720px;
    z-index: 1;
    width: 572px;
    height: 240px;
    padding: 8px; 
    box-sizing: content-box;
    background-color: black;
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
}

.rectangle-6 {
    width: 100%; 
    height: 100%;
    background-color: #f57c61;
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
}

.square-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    height: 320px;
    padding-top: 56px;
    padding-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

.whac-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.mole-hole {
    position: relative;
    width: 184px;
    height: 76px;
    background-color: black;
    border-radius: 50% / 50%;
}

.mole-wrapper {
    position: absolute; 
    top: -50px; /* Adjust this in js for whac */
    left: 50%;
    transform: translateX(-50%); 
    height: 96px; /* Adjust this in js for whac code */
    width: 100%;
    overflow: hidden;
}

.mole {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    width: auto; 
}





